<p>comments-list works!</p>

<table  class="table table-light">
    <thead>
        <tr>
            <th>Post Id</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.commentsList">
            <td>{{ item.postId }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.body }}</td>
        </tr>
    </tbody>
</table>