<p>header works!</p>
<ul>
    <li><a [routerLink]="['posts/posts-list']" >Posts List</a></li>
    <li><a [routerLink]="['posts/posts-create']" >Posts Create</a></li>
    <li><a [routerLink]="['comments/comments-list']" >Comments List</a></li>
    <li><a [routerLink]="['comments/comments-create']" >Comments Create</a></li>
</ul>


