<p>posts-list works!</p>

<table  class="table table-light">
    <thead>
        <tr>
            <th>User Id</th>
            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.postsList">
            <td>{{ item.userId }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.body }}</td>
        </tr>
    </tbody>
</table>
