<p>posts-create works!</p>
<div>
    <form [formGroup]="formSearchPosts" (ngSubmit)="searchPosts()">

        <label for="">Buscador</label>
        <input type="text" formControlName="title" (blur)="searchPosts()">
        <button type="submit">Buscar</button>
    </form>

    <p *ngIf="posts" >{{posts | json}}</p>

    <p *ngIf="statusSearchTitle" class="alert" >El dato name no se encuentra</p>

</div>