<p>comments-create works!</p>
<div>
    <form [formGroup]="formSearchComments" (ngSubmit)="searchComments()">

        <label for="">Buscador</label>
        <input type="text" formControlName="name" (blur)="searchComments()">
        <button type="submit">Buscar</button>
    </form>

    <p *ngIf="comments" >{{comments | json}}</p>

    <p *ngIf="statusSearchName" class="alert" >El dato name no se encuentra</p>

</div>


